[user]
    name = Stephan Viana
    email = creator.stephanviana@gmail.com

[core]
    editor = code --wait
    autocrlf = input
    pager = less -FRX

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD --stat
    unstage = reset HEAD --
    amend = commit --amend --no-edit
    undo = reset --soft HEAD~1
    wip = !git add -A && git commit -m 'wip'
